 apiVersion: v1
 kind: Pod
 metadata:
   name: pic01-init-v1
   labels:
     app: rucio
   namespace: bruzzese
 spec:
   restartPolicy: Never
   initContainers:
     - name: init-service
       image: busybox:${BUSYBOX_VERSION}
       command: ['sh', '-c', "until nslookup postgres; do echo waiting for servicedb; sleep 2; done"]
     - name: init-mydb
       image: busybox:${BUSYBOX_VERSION}
       command: ['sh', '-c', "until nc -zvw1 rucio-postgresql 5432; do echo waiting for mydb; sleep 2; done"]
   containers:
     - name: init
       image: rucio/rucio-init:release-1.26.9
       imagePullPolicy: IfNotPresent
       env:
         - name: RUCIO_CFG_DATABASE_DEFAULT
           value: postgresql://rucio:secret@rucio-postgresql:5432/rucio-postgresql
         - name: RUCIO_CFG_DATABASE_SCHEMA
           value: test
         - name: RUCIO_CFG_BOOTSTRAP_USERPASS_IDENTITY
           value: ddmlab
         - name: RUCIO_CFG_BOOTSTRAP_USERPASS_PWD
           value: secret
         - name: RUCIO_PRINT_CFG
           value: "true"

